.css {
  --font-family: 'Gill Sans';
  --primary-color: #093A3E;
  --secondary-color: #2d8a92;
  --light-color: #69fafa;
  --dark-color: #001011;

  font-family: var(--font-family);
  background: var(--light-color);
  border-radius: 8px;
  padding: 32px;
}

.css-title {
  color: var(--secondary-color);
}

.css-hierarchy {
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.css-hierarchy p {
  color: var(--secondary-color);
}

.css-hierarchy p:first-of-type {
  text-decoration: underline;
  font-size: 24px;
}

.css-hierarchy p:last-of-type {
  font-style: italic;
  font-size: 12px;
}

.css-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  margin-bottom: 16px;
}

.css-image-wrapper img {
  height: 196px;
  width: 196px;
  border-radius: 50%;
}

.css-extend {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  margin-bottom: 16px;
}

.css-mixin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 24px;
  border: 1px dashed var(--dark-color);
  background: var(--secondary-color);
}
