// As variáveis de SASS não permitem a alteração dos valores durante o runtime da aplicação
$font-family: 'Gill Sans';
$primary-color: #093A3E;
$secondary-color: #2d8a92;
$light-color: #69fafa;
$dark-color: #001011;
